*{
    background-color: black;
    color:white;
}

.App{
    font-family: "Arial";
    text-align: center;
    padding: 150px;
}

button{
    background-color: green;
    border: none;
    padding: 15px;
    border-radius: 10px;
    color:white;
}

p{
    padding: 20px;
}

.name{
    font-size: 270%;
    font-weight: bold;
}

.specific{
    font-style: italic;
    color: blue;
}